<script>
  ko.components.register('new-weight-view', {
    viewModel: function (params) {
      const self = this;
      const root = params.root;

      const now = new Date();
      const localISO = new Date(now.getTime() - now.getTimezoneOffset() * 60000)
        .toISOString()
        .slice(0, 16);

      self.date = ko.observable(localISO);
      self.dateError = ko.observable(false);

      self.weight = ko.observable('');
      self.weightError = ko.observable(false);

      self.isSaving = ko.observable(false);
      self.errorMessage = ko.observable('');

      self.validate = function () {
        let valid = true;

        self.weightError(!self.weight());

        if (!self.weight()) valid = false;

        if (!valid) self.errorMessage('Please fill all required fields');

        return valid;
      };

      self.cancel = function () {
        root.navigateToView('calendar-view');
      };

      self.save = function () {
        self.errorMessage('');
        if (!self.validate()) return;

        self.isSaving(true);

        const start = new Date(self.date()).getTime();
        const end = start + 60 * 1000;
        const weight = Number(self.weight()) || null;
        const event = {
          title: `⚖️ Weight of ${weight}kg`,
          ...{ start, end, weight },
        };

        google.script.run
          .withSuccessHandler(() => {
            root.navigateToView('calendar-view');
          })
          .withFailureHandler((err) => {
            self.errorMessage('Error: ' + err);
            self.isSaving(false);
          })
          .addCalendarEvent(event);
      };
    },

    template: `
      <form class="new-ice-bath-view container p-4" data-bind="submit: save" novalidate>

        <h3 class="mb-4">⚖️ New Weight</h3>

        <!-- Error message -->
        <div data-bind="
              visible: errorMessage"
             class="alert alert-danger">
          <span data-bind="text: errorMessage"></span>
        </div>

        <!-- Date -->
        <div class="mb-3">
          <label class="form-label">Start Date & Time *</label>
          <input type="datetime-local" class="form-control"
                 data-bind="value: date, css: { 'is-invalid': dateError }, disable: isSaving" required />
          <div class="invalid-feedback" data-bind="visible: dateError">Required</div>
        </div>

        <!-- Weight -->
        <div class="mb-3">
          <label class="form-label">Weight *</label>
          <input type="number" step="0.1" min="0" class="form-control"
                  data-bind="value: weight, autoFocus: true, css: { 'is-invalid': weightError }, disable: isSaving"
                  required />
          <div class="invalid-feedback" data-bind="visible: weightError">Required</div>
        </div>

        <!-- Saving Spinner -->
        <div class="my-3" data-bind="visible: isSaving">
          <div class="spinner-border text-primary" role="status"></div>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-end gap-2 mt-4">

          <button type="button"
                  class="btn btn-secondary px-4"
                  data-bind="click: () => cancel(), disable: isSaving">
            <i class="bi bi-x-lg me-2"></i>
            Cancel
          </button>

          <button type="submit"
                  class="btn btn-primary px-4"
                  data-bind="disable: isSaving">
            <i class="bi bi-floppy me-2"></i>
            Save
          </button>

        </div>

      </form>
    `,
  });
</script>
